@font-face {
    font-family: 'RenaultLife';
    src: url('../fonts/RenaultLife.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'RenaultLife';
    src: url('../fonts/RenaultLife.otf') format('opentype');
}

.imgRelative {
    position: relative;
}

h2 {
    position: absolute;
    top: 182px;
    left: 59px;
    width: 100%;
}

input {
    background-color: rgba(0, 0, 0, 0);
    color: black;
    width: 25%;
    border: none;
    font-family: "RenaultLife";
    font-size: 17px;
    font-weight: bold;
}

label {
    position: absolute;
    top: 199px;
    left: 622px;
    font-family: "RenaultLife";
    font-size: 13px;
    font-weight: bold;
}

p {
    font-family: "RenaultLife";
    font-size: 18px;
    padding-left: 30px;
}

#text2 {
    font-family: "RenaultLife";
    font-size: 18px;
    padding-left: 30px;
    font-weight: bold;
}

span {
    display: inline-block;
    width: 70px;
    vertical-align: bottom;
}

span button {
    width: 70px;
}

@-moz-document url-prefix() {
    h2 {
        position: absolute;
        top: 195px;
        left: 58px;
        width: 100%;
    }
    label {
        position: absolute;
        top: 210px;
        left: 622px;
        font-family: "RenaultLife";
        font-size: 13px;
        font-weight: bold;
    }
}